<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.flegmann.fitbuddyapp" >

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".FitBuddyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Fit Life"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/Mainmenu"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateVisible|adjustPan" >
        </activity>
        <activity
            android:name=".fitcalc"
            android:label="@string/title_activity_fitcalc"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".Exersise_Display"
            android:label="@string/title_activity_exersise__display"
            android:theme="@android:style/Theme.Holo.Light.DarkActionBar"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".Types_Display"
            android:label="@string/title_activity_types__display"
            android:theme="@android:style/Theme.Holo.Light.DarkActionBar" >
        </activity>
        <activity
            android:name=".Wko_Display"
            android:label="@string/title_activity_wko__display"
            android:theme="@android:style/Theme.Holo.Light.DarkActionBar" >
        </activity>
        <activity
            android:name=".Real_WKO_Dispay"
            android:label="@string/title_activity_real__wko__dispay" >
        </activity>
        <activity
            android:name=".Exercises_Details"
            android:label="@string/title_activity_exercises__details" >
        </activity>
        <activity
            android:name=".Change_Weight"
            android:label="@string/title_activity_change__weight"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".Create_WKO"
            android:label="@string/title_activity_create__wko"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".FullscreenDemoActivity"
            android:label="@string/title_activity_fullscreen_demo" >
        </activity>
        <activity
            android:name=".hr"
            android:label="@string/title_activity_hr" >
        </activity>
        <activity
            android:name=".max"
            android:label="@string/title_activity_max" >
        </activity>

        <service
            android:name="com.paypal.android.sdk.payments.PayPalService"
            android:exported="false" />

        <activity android:name="com.paypal.android.sdk.payments.PaymentActivity" />
        <activity android:name="com.paypal.android.sdk.payments.LoginActivity" />
        <activity android:name="com.paypal.android.sdk.payments.PaymentMethodActivity" />
        <activity android:name="com.paypal.android.sdk.payments.PaymentConfirmActivity" />
        <activity
            android:name="io.card.payment.CardIOActivity"
            android:configChanges="keyboardHidden|orientation" />
        <activity android:name="io.card.payment.DataEntryActivity" />
        <activity
            android:name=".buyplan"
            android:label="@string/title_activity_buyplan" >
        </activity>
    </application>

</manifest>
